
*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
}
.header{
  height: 110px;
  background: #333333;
  padding: 0 20px;
  color: #fff;
}
.logo{
  line-height: 70px;
  padding-left: 70px;
  float: left;
  text-transform: uppercase;

}

.menu{
  float: right;
  line-height: 100px;
}
.menu a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}
.show-menu-btn,.hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.show-menu-btn{
  float: right;
}
.show-menu-btn i{
  line-height: 100px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
  color: #3498db;
}

#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

.content{
  padding: 0 20px;
}
.content img{
  width: 100%;
 /* max-width: 900px;*/
  margin: 10px 0;
}
.content p{
  text-align: justify;
}

@media screen and (max-width:800px) {
  .show-menu-btn,.hide-menu-btn{
    display: block;
  }
  .menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
  }
  .menu a{
    display: block;
    padding: 20px;
  }
  .hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #chk:checked ~ .menu{
    right: 0;
  }
}

/*=============================================================*/

.welcome{
	padding: 80px 0;
}
.welcome .container{
	background: #333333;
	width: 100%;
	color: #d9d9d9;
}
.img{
	margin: 16px;
}
.welcome_left p {
	font-size: 15px;
	color: #d9d9d9;
	line-height: 30px;
	letter-spacing: 1px;
}
.welcome_left h4 {
    color: #d9d9d9;
    font-size: 25px;
    text-transform: capitalize;
    border-left: 3px solid #03C5E2;
    padding: 16px;
    margin: 0 0 16px;
    line-height: 30px;
    letter-spacing: 1px;
}

	/*============================================================================*/

.popular_cakes{
	padding: 5em 0;
}
h3.heading {
    color: #000;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 1em;
    text-align: center;
    text-transform: capitalize;
}
.gallery {
  border: 2px solid #ccc;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
  font-weight: 600;
  font-size: 23px;
   color: #292929;
   margin: 1em 0 0;
}

* {
  box-sizing: border-box;
}

.cake_grid {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
    -webkit-box-shadow: 0px 1px 12px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 12px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 12px -3px rgba(0,0,0,0.75);
    padding-bottom: 1em;


}

/*=====================================================================================*/

footer{
	position: relative;
	bottom: 0px;
	width: 100%;
	background: #111;
	color: #d9d9d9;
}

.main-content{
	display: flex;
}
.main-content .box{
	flex-basis: 50%;
	padding: 10px 20px;
}
.box h2{
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;

}

.box .content{
	margin: 20px 0 0 0;
}
.left .content p{
	text-align: justify;
}
.left .content .social{
	margin: 20px 0 0 0;
}
.left .content .social a{
	padding: 0px 2px;
}
.left .content .social a span{
	height: 40px;
	width: 40px;
	background: #1a1a1a;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	border-radius: 5px;
	transition: 0.3s;
}
.left .content .social a span:hover{
	background: #f12020;
}
